@page
@model GenericRepositoryExampla.Api.Pages.ContentAddModel
@{
    ViewData["Title"] = "Title";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Project Add</title>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">

<link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">

<div class="wrapper">

<div class="content-wrapper">

<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title"> Add Content</h3>

                </div>
                <form id="ContentAdd">
                    <div class="card-body">
                         <div class="input-group-append">

                            <label>Title</label>
                            <input type="text" name="title" class="form-control" id="exampleInputTitle1">
                        </div>

                    <div class="form-group">
                        <div class="input-group-append">

                            <label>Description</label>
                            <input type="text" name="description" class="form-control" id="exampleInputDescription1">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group-append">

                            <label>Detail</label>
                            <input type="text" name="detail" class="form-control" id="exampleInputDetail1">
                        </div>
                    </div>
                        <div class="form-group">
                        <div class="input-group-append">

                            <label>category_Id</label>
                            <input type="number" name="category_Id" class="form-control" id="exampleInputCategoryId1">
                        </div>
                    </div>

                        </form>
                    </div>
 /.card-body 
</div>
 /.card 
</div>

    </div>
    <div class="row">
        <div class="col-12">
            <a href="window.location.href = " Contents" class="btn btn-secondary">Cancel</a>
            <button id="AddContent" type="submit" class="btn btn-primary">Content Ekle</button>
        </div>
    </div>
</section>

</div>
    
<aside class="control-sidebar control-sidebar-dark">

</aside>

</div>

<script src="../../plugins/jquery/jquery.min.js"></script>
 Bootstrap 4 
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="../../plugins/jquery-validation/jquery.validate.min.js"></script>
</body>
</html>
<script>
    $(function () {
        $.validator.setDefaults({
            submitHandler: function () {
                alert("Form successful submitted!");
            }
        });
        $('#CategoryAdd').validate({
            rules: {

                title: {
                    required: true,
                    maxlength: 20
                },
                description: {
                    required: true,
                    minlength: 5
                },
                detail: {
                    required: true,
                    minlength: 10
                },
            },
            messages: {

                Title: {
                    required: "Please enter a title",
                    maxlength: "Your title must be no longer than 15 characters"
                },
                Description: {
                    required: "Please provide a password",
                    maxlength: "Your password must be at least 30 characters long"
                },
                Detail: {
                    required: "Please provide a password",
                    maxlength: "Your password must be at least 30 characters long"
                },
                terms: "Please accept our terms"
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });
    });
</script>

<script type="text/javascript">
    $("#AddContent").click(function () {
        debugger;
        var model = {
            Title: $("[name='title']").val(),
            Description: $("[name='description']").val(),
            Detail: $("[name='detail']").val(),
     category_Id: $("[name='category_Id']").val(),
        };
        console.log(JSON.stringify(model));
        var content = JSON.stringify(model);
        $.ajax({
            type: 'POST',
            url: 'https://localhost:44303/api/content/create',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            data: content,
            success: function (gelenveri) {
                $("AddContent").removeAttr("disabled");
                alert("Kayıt işlemeniz başarılı")
            },
            error: function (hata) {
                $("AddContent").removeAttr("disabled");
            }
        });
    });

</script>



<!--<div class="card-header">
    <h3 class="card-title">Content Add</h3>

    <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
            <i class="fas fa-minus"></i>
        </button>
    </div>
</div>
<!-- Main content -->
<!--<section class="content">

    <div class="card">

        <h4 class="card-title">Add Category</h4>
    </div>

    <div class="card-body">

        <div class="card mb-4">

            <div class="card-body">
                <form id="ContentAdd">
                    <div class="form-group">
                        <div class="input-group-append">

                            <label>Title</label>
                            <input type="text" name="title" class="form-control" id="exampleInputTitle1">
                        </div>

                        <div class="form-group">
                            <div class="input-group-append">

                                <label>Description</label>
                                <input type="text" name="description" class="form-control" id="exampleInputDescription1">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group-append">

                                <label>Detail</label>
                                <input type="" name="Detail" class="form-control" id="exampleInputDetail1">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group-append">

                                <label>category_Id</label>
                                <input type="number" name="category_Id" class="form-control" id="exampleInputCategoryId1">
                            </div>
                        </div>

                        <div class="row">-->

                            <!-- /.col -->
                            <!--<div class="col-4">
                                <button type="submit" name="AddContent" class="btn btn-primary" id="AddContent">Add Content</button>
                            </div>-->


                            <!-- /.col -->
                        <!--</div>


                </form>
            </div>
        </div>
    </div>


    <script src="../../plugins/jquery/jquery.min.js"></script>-->
    <!-- Bootstrap 4 -->
    <!--<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>-->
    <!-- jquery-validation -->
    <!--<script src="../../plugins/jquery-validation/jquery.validate.min.js"></script>


</section>--><!-- /.content -->
<!--<script>
    $(function () {
        $.validator.setDefaults({
            submitHandler: function () {
                alert("Form successful submitted!");
            }
        });
        $('#ContentAdd').validate({
            rules: {

                title: {
                    required: true,
                    maxlength: 20
                },

                description: {
                    required: true,
                    minlength: 5
                },
                detail: {
                    required: true,
                    minlength: 10
                },

            },
            messages: {

                Title: {
                    required: "Please enter a title",
                    maxlength: "Your title must be no longer than 15 characters"
                },

                Description: {
                    required: "Please provide a password",
                    maxlength: "Your password must be at least 30 characters long"
                },
                Detail: {
                    required: "Please provide a password",
                    maxlength: "Your password must be at least 30 characters long"
                },


                terms: "Please accept our terms"
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });
    });
</script>

<script type="text/javascript">
    $("#AddContent").click(function () {
        debugger;
        var model = {
            Title: $("[name='title']").val(),
            Description: $("[name='description']").val(),
            Detail: $("[name='detail']").val(),
            category_Id: $("[name='category_Id']").val(),
        };
        console.log(JSON.stringify(model));
        var content = JSON.stringify(model);
        $.ajax({
            type: 'POST',
            url: 'https://localhost:44303/api/content/create',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            data: content,
            success: function (gelenveri) {
                $("AddContent").removeAttr("disabled");
                alert("Kayıt işlemeniz başarılı")
            },
            error: function (hata) {
                $("AddContent").removeAttr("disabled");
            }
        });
    });

</scri-->pt>
