@page
@model GenericRepositoryExampla.Api.Pages.ContentEditModel
@{
}
<section class="content">

    <div class="card">

        <h4 class="card-title">Edit Category</h4>
    </div>

    <div class="card-body">

        <div class="card mb-4">

            <div class="card-body">
                <form role="form" action="" method="post">

                    <div class="form-group">
                        <label>Parent</label>

                        <select class="select2-single form-control" name="parent_id" id="select2Single">

                            <option value="0">Main Category</option>



                        </select>
                    </div>
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" name="title" value="" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Keywords</label>
                        <input type="text" name="keywords" value="" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" name="description" value="" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Status</label>
                        <select class="select2-single form-control" name="status" id="select2Single">
                            <option selected="selected"></option>
                            <option>False</option>
                            <option>True</option>

                        </select>
                    </div>

                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                            <label class="custom-control-label" for="customControlAutosizing">Remember me</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Update Category</button>
                </form>
            </div>
        </div>

    </div>




</section><!-- /.content -->