@page
@model GenericRepositoryExampla.Api.Pages.denemeModel
@{
}
<link rel="stylesheet" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<div class="card-body">
    <div class="card">

        <script language="JavaScript">
            function yenisayfaac(url, width, height) {
                window.open(url, '', 'toolbar=0,scrollbars=2,location=0,statusbar=1,menubar=0,resizable=0,width=' + width + ',height=' + height + ',left = 200,top = 100');
            }
        </script>
        <a href="JavaScript:yenisayfaac('ContentAdd','400','800');" type="button" class="btn btn-danger mb-1" style="width: 200px">Add Category</a>
    </div>
    <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
   
        <div class="col-sm-12">
            <table id="contentDatatable" class="table align-middle table-row-dashed fs-6 gy-5">
                <thead>
                    <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                        <th class="w-10px pe-2">
                            <div class="form-check form-check-sm form-check-custom form-check-solid me-3">
                                <input class="form-check-input" type="checkbox" data-kt-check="true" data-kt-check-target="#kt_datatable_example_1 .form-check-input" value="1" />
                            </div>
                        </th>
                        <th>content_id</th>
                        <th>title</th>
                        <th>description</th>
                        <th>detail</th>
                        <th>delete</th>
                    </tr>

                </thead>
                <tbody class="text-gray-600 fw-bold">
                </tbody>
            </table>
        </div>
    </div><div class="row">
        @*<div class="col-sm-12 col-md-5">
                <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                </div>
            </div>*@

    </div>
</div>


@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/contentstable.js"></script>
}

